<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <title>{% block title %}{% endblock %}</title>
    
    <!-- js -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- menu script -->
    <script>function menufunct(x) { x.classList.toggle("change"); }</script>
    
    <!-- map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3XKzlinjUIrV2n3g08VJixhNSU9jTy9w&libraries=places" type="text/javascript"></script>
    <script src="js/mapUtils.js"></script>
    <script src="js/map.js"></script>
    
    <!-- css -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div class="container">
        <!-- map -->
        <div id="map-canvas" class="map col-lg-8"></div>
        
        <!-- the things on the map -->
        <div class="things-on-map">
            <div class="things-on-map-left">
                <!-- selector -->
                {% block selector %} {% endblock %}
            </div>
            
            <div class="things-on-map-right">
                <!-- menu -->
                {% block menu %}{% endblock %}
    
                <!-- itinerary -->
                {% block itinerary %}{% endblock %}
            </div>
            
            <!-- content for err -->
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- master script -->
    <script src="js/master.js"></script>

</body>

</html>
