<!DOCTYPE html>
<html>
<head>
    <!-- title -->
    <title>{% block title %}{% endblock %}</title>
    
    <!-- js -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- menu script -->
    <script>function menufunct(x) { x.classList.toggle("change"); }</script>
    
    <!-- map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3XKzlinjUIrV2n3g08VJixhNSU9jTy9w&libraries=places" type="text/javascript"></script>
    <script src="js/map-styles.js"></script>
    <script src="js/map.js"></script>
    
    <!-- css -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>

<body>
    <div class="container">
        <!-- map -->
        <div id="map-canvas" class="map col-lg-8"></div>
        
        <!-- menu -->
        {% block menu %}{% endblock %}

        <!-- selector -->
        <!-- {% block selector %} {% endblock %} -->
    
        <!-- itinerary -->
        {% block itinerary %}{% endblock %}
        
        <!-- content for err -->
        {% block content %}{% endblock %}
    </div>
</body>
</script>

</html>
