{% block selector %}
<div class="selector ">
    <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default dropdown-toggle list-group-item-warning" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            rest <span class="right-caret"></span></button>
        <ul class="dropdown-menu">
            {% for hotel in hotels %}
                <li><a href="{{hotel.id}}">{{hotel.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default dropdown-toggle list-group-item-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            food <span class="right-caret"></span></button>
        <ul class="dropdown-menu">
            {% for restaurant in restaurants %}
                <li><a href="{{restaurant.id}}">{{restaurant.name}}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
        </ul>
    </div>
    
    <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-default dropdown-toggle list-group-item-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            play <span class="right-caret"></span></button>
        <ul class="dropdown-menu">
            {% for activity in activities %}
                <li><a href="{{activity.id}}">{{activity.name}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}