//@import "menu";
//@import "selector";
@import "itinerary";

body {
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.map {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.menu {
    left: 85%;
    margin: 12px 12px 12px 12px;
    position: relative;
}

.selector {
    top: 5vh;
    left: 5vw;
}

.itinerary {
    top: 5%;
    left: 83%;
    margin: 12px 12px 12px 12px;
    position: relative;
}

