//@import "menu";
@import "selector";
@import "itinerary";

body {
    min-width: 400px;
    margin: 0;
}

.container {
    padding: 0;
    margin: 0;
}

.things-on-map {
    margin: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
//    // transition
//    animation-name: decrease-page-width;
//    animation-delay: 1s;
//    animation-fill-mode: forwards;
    
}

.things-on-map-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map {
    width: 100%;
    height: 100%;
    position: absolute;
}

//@keyframes decrease-page-width {
//    from {
//        flex-direction: row;
//        justify-content: space-between;
//    }
//    to {
//        flex-direction: column;
//        justify-content: center;
//    }
//}

@media (max-width: 700px)  {
    .things-on-map {
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        overflow: hidden;
    }
    
    .things-on-map-left {
        margin-bottom: 350px;
    }
    
    .things-on-map-right {
        overflow: scroll;
    }
}